{% load staticfiles %}
{% load i18n %}
{% load centinela_site %}
<!DOCTYPE html>
<html>
	<head>
        <title>
			{% block title %}
				{% get_title as title %}
                {{ title.title }}
		    {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        {% block meta %}
        {% endblock %}
        <link rel="icon" href="/media/favicon.ico?v=1.1">
    </head>
    <body>
    	{% block nav %}
    		{% include "navbar.html" %}
    	{% endblock %}
        {% block content %}
    	{% endblock %}
        {% block footer %}
            {% include "footer.html" %}
    {% endblock %}
    {% block stylesheet %}
            {% get_theme as theme %}
            {% with 'bootstrap/css/'|add:theme.file_name as bootstraptheme %}
            <link href="{% static bootstraptheme %}" rel="stylesheet" media="screen">
            {% endwith %}
            <link href="{% static 'font-awesome-4.4.0/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'bootstrap/css/carousel.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'css/fonts.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'css/centinela.css' %}" rel="stylesheet" media="screen">
    {% endblock %}
    {% block javascript %}
    	<script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
    	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/cetinela.min.js' %}"></script>
    {% endblock %}
    </body>
</html>