{% load staticfiles %}
{% load i18n %}
{% load centinela_site %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% get_title as title %}
        {{ title.title }}
        {% endblock %}

    </title>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="author" content="Norman Torres | Prospectiva Venezuela | norman.nets@gmail.com">
    <meta name="description" content="Centinela CMS V1.2 | Django Powered | 2015 ">
    {% block meta %}
    {% endblock %}
    {% block stylesheet %}
    {% get_theme as theme %}
    {% with 'bootstrap/css/'|add:theme.file_name as bootstraptheme %}
    <link href="{% static bootstraptheme %}" rel="stylesheet" media="screen">
    {% endwith %}
    <link href="{% static 'css/centinela.css' %}" rel="stylesheet" media="screen">
    {% endblock %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}?v=1.1">
    <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "WebSite",
          "name" : "{{ site.SITE_TITLE }}",
          "alternateName" : "{{ site.SITE_ALTENATIVE_NAME}}",
          "url" : "{{ site.SITE_URL }}"
        }
    </script>
</head>
<body>
{% block nav %}
{% include "navbar.html" %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    <div class="row">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
    </div>
</div>
{% block javascript %}
<script src="{% static 'jquery/jquery-1.11.3.min.js' %}" ></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" async="async"></script>
<script src="{% static 'js/main.js' %}" async="async"></script>
{% endblock %}
</body>
</html>