{% load staticfiles %}
{% load centinela_column %}
{% get_post_widgets 'top' %}
{% if active_sliders_list %}
<div id="banner">
        <div id="banner-content">
            {% for slider in active_sliders_list %}
            {% if slider.is_active %}
                <div class="banner-item {% if forloop.first %}
                        active
                    {% endif %}" data-count="{{ forloop.counter }}">
                    {% if slider.link_target %}
                        <a href="{{ slider.link_target }}" target="_blank">
                        <img src="/media/{{ slider.image_file }}" />
                        </a>
                    {% else %}
                        <img src="/media/{{ slider.image_file }}" />
                    {% endif %}
                </div>
            {% endif %}
      {% endfor %}
    </div>
</div>
{% endif %}

