{% extends "base.html" %}
{% load centinela_column %}
{% load centinela_socialshare %}
{% load staticfiles %}
<!-- # TODO: add form to comments, or facebook plugin? -->
{% block title %}
   {{ post.title }} - {{ block.super }}
{% endblock %}
{% block meta %}
<meta property="og:url"                content="{% url 'centinela:detail' post.slug post.id %}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ post.title }}" />
<meta property="og:description"        content="{{ post.content | striptags | truncatechars_html:100 }}" />
<meta property="og:image"              content="" />
{% endblock %}
{% block content %}
<div class="banner container-fluid col-md-10 col-md-offset-1" style="">
    {% include "centinela/banners.html" %}
</div>

{% if site.LATERAL_BAR == 'LEFT' %}
<div id="lateral" class="col-md-3 col-sm-12">
    {% get_more_read %}
    {% get_lateral_widgets %}
</div>
{% endif %}

<div id="main" class="col-md-7 col-md-offset-1 col-xs-12" itemscope itemtype="http://schema.org/newsArticle">
    {% include "centinela/nav_sections.html" %}
    {% get_post_widgets 'before_post' %}
    <h2 itemprop="headline">{{ post.title }}</h2>
    <p>
        <small class="text-muted">
               <author itemprop="author">{{ post.author.get_full_name }}</author> |
               <time datetime="{{ post.created_date|date:'c' }}" itemprop="datePublished">{{ post.created_date }} |
               <span class="glyphicon glyphicon-eye-open"> </span> {{ post.views_count }}
        </small>
        <a itemprop="mainEntityOfPage" href="{% url 'centinela:category_post_list' post.category.slug %}" class="label label-warning">{{ post.category.name }}</a>
    </p>
    {% get_share_buttons as share %}
    <div class="row">
    {% for button in share.buttons %}
        {{ button.html_code|safe }}
    {% endfor %}
     </div>
    <hr class="feature-divider>">
    {% if post.image %}
    <image src="{{ post.image }}" itemprop="image" hidden></image>
    {% endif %}
<div class="content" itemprop="articleBody">
    <p>{{ post.content | safe }}</p>
</div>
{% get_post_widgets 'after_post' %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if post.comments_status == true %}
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-version="v2.3"></div>
    {% endif %}
</div>
{% if site.LATERAL_BAR == 'RIGHT' %}
<div id="lateral" class="col-md-3 col-sm-12">
    {% get_more_read %}
    {% get_lateral_widgets %}
</div>
{% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}

    {% get_share_buttons as share %}
    {% for button in share.buttons %}
        {{ button.js_code | safe }}
    {% endfor %}
{% endblock %}