{% extends "base.html" %}
{% load centinela_column %}
{% load staticfiles %}
{% block content %}
<div class="banner container-fluid col-md-10 col-md-offset-1" style="">
    {% include "centinela/banners.html" %}
</div>
{% include "centinela/nav_sections.html" %}
<div id="main" class="col-md-8 col-xs-12">
    <div class="col-md-8 col-md-offset-1 col-sm-12">
        {% for post in latest_post_list %}
        {% if forloop.counter < midle %}
        <div class="news_list_block col-md-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="box10">
                <span class="label label-warning" itemprop="mainEntityOfPage">{{ post.category.name }}</span>
                    <h2 itemprop="headline"><a href="{% url 'centinela:detail' post.slug post.id  %}">{{ post.title }} </a></h2>
                    <time datetime="{{ post.created_date|date:'c' }}" class="text-muted small" itemprop="datePublished">{{ post.created_date }}</time> | <author itemprop="author">{{ post.author.get_full_name }}</author>
                <div class="news_list_content">
                    {% if post.image %}
                    <img class="img img-responsive" src="{{ post.image }}" itemprop="image"/>
                    {% endif %}
                    <div class="content" itemprop="description"> {{ post.content | safe | truncatechars_html:300 }}
                    </div>
                    <a href="{% url 'centinela:detail' post.slug post.id %}">ver más</a>
                </div>
            </div>
        </div>
        {% else %}
        {% if forloop.counter == midle %}
    </div>
    {# close first column on news #}
    <div class="col-md-3 col-sm-12" >
        {% endif %}
        <div class="news_list_item col-md-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="box10">
                <div class="news_list_content">
                    {% if post.image %}
                    <img class="img img-responsive" src="{{ post.image }}" itemprop="image"/>
                    {% endif %}
                    <a href="{% url 'centinela:detail' post.slug post.id  %}">
                        <h5 itemprop="headline">{{ post.title }}</h5>
                    </a>
                    <time datetime="{{ post.created_date|date:'c' }}" class="text-muted small" itemprop="datePublished" hidden>{{ post.created_date }}</time>
                    <author  itemprop="author" hidden>{{ post.author.get_full_name }}</author>
                    <span itemprop="mainEntityOfPage" class="label label-warning">{{ post.category.name }}</span>
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <h2>No hay entradas que mostar</h2>
        {% endfor %}
    </div>
    {# close second column on news #}
    {# .... **Now the pagination section** .... #}
    <div class="col-lg-12 text-center">
        {% include "centinela/pagination.html" %}
    </div>
</div>
<div id="rigth" class="col-md-3 col-sm-12">
    {% get_more_read %}
    {% get_widgets %}
</div>
{% endblock %}

